{% if view == "signin" %}
	<form action="#" class="{{prefix}}panel  {{mod}}">
		{% include "../page-header/tpl.twig" with {
			prefix:"page-header__", 
			mod:heading_mod,
			level:heading_level, 
			heading:heading
		} %}

		<div class="{{prefix}}row  grid__row  {{mod}}">
			{% include "elem-tpl.twig" with {view: "input", prefix:prefix, mod:mod, color:color, list: [
				{
					"type":"tel", 
					"required":"required", 
					"placeholder":"Номер телефона",
					"group":""
				},
				{
					"type":"email", 
					"required":"required", 
					"placeholder":"E-mail",
					"group":""
				}
			]} %}
			<div class="{{prefix}}btn  {{mod}}">
				{% include "../button/btn.twig" with {
					view:"btn",
					prefix:"btn__", 
					type:'submit', 
					arrow: "true",
					icon: "arrow-next",
					group:content_mod, 
					onsubmit:'return false', 
					location:page.index, 
					mod:"is--success  is--arrow-next", 
					name:"Войти в личный кабинет" 
				} %}
			</div>
			<div class="{{prefix}}btn  {{mod}}  is--text">
				Или вы можете <a href="{{page.signup}}">зарегистрироваться</a>
			</div>
		</div>
	</form>
{% endif %}

{% if view=="signup" %}
	<form action="#" class="{{prefix}}panel  {{mod}}"  {{form_data}}>
		<div class="{{prefix}}row  grid__row  {{mod}}  is--wrap">			
			<ol class="{{prefix}}step  {{mod}}">
				<li class="{{prefix}}step-item  {{mod}}">
					<a href="#{{ID}}-step1"  class="{{prefix}}step-link  {{mod}}  is--active">1. Контактная информация</a> 	
				</li>
				<li class="{{prefix}}step-item  {{mod}}">
					<a href="#{{ID}}-step2" disabled class="{{prefix}}step-link  {{mod}}  {{active_two}}">2. Дополнительная информация</a> 	
				</li>
			</ol>
			<div class="{{prefix}}wrap  {{mod}}">
				<div class="{{prefix}}step-pane  {{mod}}  {{active_one}}" id="{{ID}}-step1">
					<div class="{{prefix}}row  grid__row  is--step  {{mod}}">
						<h2 class="page-header__heading  is--page-signup-sm  fw--100">Заполните контактные данные</h2>
						<p data-grid-link>
							<a href="#" class="{{prefix}}btn  {{mod}}">Пропустить регистрацию</a>
						</p>
						{% include "elem-tpl.twig" with {view: "input", prefix:prefix, mod:mod, color:color, list: [
							{
								"type":"text", 
								"id":"item", 
								"form_id":ID,
								"required": "required",
								"name":"Имя", 
								"placeholder":"Имя"
							},
							{
								"type":"tel", 
								"id":"item", 
								"form_id":ID,
								"required": "required",
								"name":"Контактный телефон", 
								"placeholder":"Контактный телефон"
							},
							{
								"type":"email", 
								"id":"item", 
								"form_id":ID,
								"required": "required",
								"name":"E-mail", 
								"placeholder":"E-mail"
							},
						]} %}
						{% include "elem-tpl.twig" with {
							view:"checkbox", 
							prefix:prefix, 
							mod:"is--sm  is--agreement", 
							color:"", 
							list: [{"id":"agreement", "form_id":ID, "status":"checked", "name":"Согласие с условиями передачи информации", "label":"Соглашаюсь с условиями передачи информации"}] } %}
						<hr class="{{prefix}}line  {{mod}}">

						<h2 class="page-header__heading  is--page-signup-sm  fw--100  is--full">Выберите правовую форму</h2>
						<div class="is--full">
							<ul class="tabs__nav  {{mod}}" data-error="Выберите один из вариантов">
								<li class="tabs__item  {{mod}}">
									<a href="#signup-pane-fiz" aria-expanded="false" class="tabs__link  {{mod}}" data-toggle="tab">Физ. лицо</a>
								</li>
								<li class="tabs__item  {{mod}}">
									<a href="#signup-pane-legal" aria-expanded="false" class="tabs__link  {{mod}}" data-toggle="tab">Юр. лицо</a>
								</li>
								<li class="tabs__item  {{mod}}">
									<a href="#signup-pane-ip" aria-expanded="false" class="tabs__link  {{mod}}" data-toggle="tab">ИП</a>
								</li>
							</ul>
							
						</div>
						<p data-grid-btn>
							<button type="button" class="btn__item" data-step-next>Продолжить</button>	
						</p>
					</div>
				</div>
				<div class="{{prefix}}step-pane  {{mod}}  {{active_two}}" id="{{ID}}-step2">		
					<div id="signup-pane-fiz" class="tabs__pane">				
						<div class="{{prefix}}row  grid__row  is--step  {{mod}}">
							<h2 class="page-header__heading  is--page-signup-sm  fw--100  is--full  is--mb">Информация о физическом лице</h2>
							{% include "elem-tpl.twig" with {
								view: "select", 
								prefix:prefix, 
								mod:mod, 
								required:"required",
								color:color, 
								form_id:ID,
								id:"city-fiz", 
								attr:"data-select-default",
								group:"", 
								list: [
									{"name": "Ближайший город", "status":"disabled selected"},
									{"name": "Абакан"},
									{"name": "Архангельск"},
									{"name": "Астрахань"},
									{"name": "Барнаул"},
									{"name": "Белгород"},
									{"name": "Благовещенск"},
									{"name": "Брянск"}
								]
							} %}
							{% include "elem-tpl.twig" with {view: "input", prefix:prefix, mod:mod, color:color, list: [
								{
									"type":"number", 
									"required": "required",
									"placeholder":"Ежемесячный доход",
									"group":"",
									"ruble":"is--ruble"
								}
							]} %}
							<p data-grid-btn class="is--step-2">
								{% include "../button/btn.twig" with {
									view:"btn",
									prefix:"btn__", 
									type:'submit', 
									arrow: "true",
									icon: "arrow-next",
									group:content_mod, 
									onsubmit:'return false', 
									location:page.profile, 
									mod:"is--success  is--arrow-next", 
									name:"Войти в личный кабинет" 
								} %}
							</p>
						</div>
					</div>		
					<div id="signup-pane-legal" class="tabs__pane">
						<div class="{{prefix}}row  grid__row  is--step  {{mod}}">
							<h2 class="page-header__heading  is--page-signup-sm  fw--100  is--full  is--mb">Информация о юридическом лице</h2>
							{% include "elem-tpl.twig" with {
								view: "select", 
								prefix:prefix, 
								mod:mod, 
								required:"required",
								color:color,
								form_id:ID,
								id:"city-legal",  
								attr:"data-select-default",
								group:"", 
								list: [
									{"name": "Ближайший город", "status":"disabled selected"},
									{"name": "Абакан"},
									{"name": "Архангельск"},
									{"name": "Астрахань"},
									{"name": "Барнаул"},
									{"name": "Белгород"},
									{"name": "Благовещенск"},
									{"name": "Брянск"}
								]
							} %}
							{% include "elem-tpl.twig" with {view: "input", prefix:prefix, mod:mod, color:color, list: [
								{
									"view":"date", 
									"type":"text", 
									"required": "required",
									"name":"Дата регистрации ЮЛ", 
									"placeholder":"Дата регистрации ЮЛ"
								},
								{ 
									"type":"text", 
									"required": "required",
									"name":"Название организации", 
									"placeholder":"Название организации"
								},
								{
									"type":"number", 
									"required": "required",
									"placeholder":"Ежемесячная выручка",
									"group":"is--abs",
									"tooltip":"Данные, предоставленные в налоговую службу за последний отчетный период",
									"tooltip_placement":"top",
									"ruble":"is--ruble"
								},
							]} %}
							<p data-grid-btn class="is--step-2">
								{% include "../button/btn.twig" with {
									view:"btn",
									prefix:"btn__", 
									type:'submit', 
									arrow: "true",
									icon: "arrow-next",
									group:content_mod, 
									onsubmit:'return false',
									location:page.profile,  
									mod:"is--success  is--arrow-next", 
									name:"Войти в личный кабинет" 
								} %}
							</p>
						</div>
					</div>	
					<div id="signup-pane-ip" class="tabs__pane">
						<div class="{{prefix}}row  grid__row  is--step  {{mod}}">
							<h2 class="page-header__heading  is--page-signup-sm  fw--100  is--full  is--mb">Информация об индивидуальном предпринимателе</h2>
							{% include "elem-tpl.twig" with {
								view: "select", 
								prefix:prefix, 
								mod:mod, 
								required:"required",
								color:color,
								form_id:ID,
								id:"city-ip",  
								attr:"data-select-default",
								group:"", 
								list: [
									{"name": "Ближайший город", "status":"disabled selected"},
									{"name": "Абакан"},
									{"name": "Архангельск"},
									{"name": "Астрахань"},
									{"name": "Барнаул"},
									{"name": "Белгород"},
									{"name": "Благовещенск"},
									{"name": "Брянск"}
								]
							} %}
							{% include "elem-tpl.twig" with {view: "input", prefix:prefix, mod:mod, color:color, list: [
								{
									"type":"number", 
									"required": "required",
									"placeholder":"Ежемесячная выручка",
									"group":"is--abs",
									"tooltip":"Данные, предоставленные в налоговую службу за последний отчетный период",
									"tooltip_placement":"top",
									"ruble":"is--ruble"
								},
								{
									"view":"date", 
									"type":"text", 
									"required": "required",
									"name":"Дата регистрации ИП", 
									"placeholder":"Дата регистрации ИП"
								},
							]} %}
							<p data-grid-btn class="is--step-2">
								{% include "../button/btn.twig" with {
									view:"btn",
									prefix:"btn__", 
									type:'submit', 
									arrow: "true",
									icon: "arrow-next",
									group:content_mod, 
									onsubmit:'return false', 
									location:page.profile, 
									mod:"is--success  is--arrow-next", 
									name:"Войти в личный кабинет" 
								} %}
							</p>
						</div>
					</div>	
				</div>
				<div class="{{prefix}}step-pane  {{mod}}  {{active_three}}" id="{{ID}}-step3">		
					<div class="{{prefix}}row  grid__row  {{mod}}">				
						{% include "elem-tpl.twig" with {view: "input", prefix:prefix, mod:mod, color:color, list: [
							{
								"type":"email", 
								"id":"email", 
								"form_id":ID, 
								"required": "required", 
								"name":"E-mail", 
								"placeholder":"Ваш E-mail"
							},
							{
								"type":"tel", 
								"id":"tel",
								"form_id":ID, 
								"required": "required", 
								"name":"Телефон", 
								"placeholder":"Ваш телефон"
							}
						]} %} 
						{% include "elem-tpl.twig" with {
							view: "select", 
							prefix:prefix, 
							mod:mod, 
							form_id:ID,
							required: "required", 
							id:"city", 
							name:"", 
							color:color, 
							attr:"data-select-primary-l", 
							list: [
								{"name": "Ваш город", "status":"disabled selected"},
								{"name": "Абакан"},
								{"name": "Архангельск"},
								{"name": "Астрахань"},
								{"name": "Барнаул"},
								{"name": "Белгород"},
								{"name": "Благовещенск"},
								{"name": "Брянск"}
							]
						} %}
						<button type="button" data-step-finish class="btn__item  is--arrow  is--md  is--primary">Отправить заявку</button>	
						{% include "elem-tpl.twig" with {
							view:"checkbox", 
							prefix:prefix, 
							mod:"is--sm  is--agreement", 
							color:"is--success", 
							list: [{"id":"agreement", "form_id":ID, "status":"checked", "name":"Согласие с условиями передачи информации", "label":"Соглашаюсь с условиями передачи информации"}] } %}
					</div>
				</div>
			</div>
		</div>
	</form>
{% endif %}

{% if view=="calc_form" %}
	<form action="#" class="{{prefix}}panel  {{mod}}"  {{form_data}}>
		<div class="{{prefix}}row  grid__row  {{mod}}  is--wrap">			
			<ol class="{{prefix}}step  {{mod}}">
				<li class="{{prefix}}step-item  {{mod}}">
					<a href="#{{ID}}-step1"   class="{{prefix}}step-link  {{mod}}  is--active">1. Общая информация</a> 	
				</li>
				<li class="{{prefix}}step-item  {{mod}}">
					<a href="#{{ID}}-step2" disabled class="{{prefix}}step-link  {{mod}}">2. Условия лизинга</a> 	
				</li>
				<li class="{{prefix}}step-item  {{mod}}">
					<a href="#{{ID}}-step3" disabled class="{{prefix}}step-link  {{mod}}">3. Оформление лизинга</a> 	
				</li>
			</ol>
			<div class="{{prefix}}step-pane  {{mod}}" id="{{ID}}-step1">
				<div class="{{prefix}}wrap  {{mod}}">
					<div class="{{prefix}}row  grid__row  is--step  {{mod}}">
						<h2 class="page-header__heading  is--page-calc-form-sm  fw--100  is--full  is--mb">Заполните данные</h2>
						{% include "elem-tpl.twig" with {view: "input", prefix:prefix, mod:mod, color:color, list: [
							{
								"type":"text", 
								"id":"item", 
								"form_id":ID,
								"required": "required",
								"name":"Контактное лицо", 
								"placeholder":"Контактное лицо"
							}
						]} %}
						{% include "elem-tpl.twig" with {
							view: "select", 
							prefix:prefix, 
							mod:mod, 
							required:"required",
							color:color,
							form_id:ID,
							id:"city",  
							attr:"data-select-default",
							group:"", 
							list: [
								{"name": "Ближайший город", "status":"disabled selected"},
								{"name": "Абакан"},
								{"name": "Архангельск"},
								{"name": "Астрахань"},
								{"name": "Барнаул"},
								{"name": "Белгород"},
								{"name": "Благовещенск"},
								{"name": "Брянск"}
							]
						} %}
						{% include "elem-tpl.twig" with {view: "input", prefix:prefix, mod:mod, color:color, list: [
							{
								"view":"date", 
								"type":"text", 
								"id":"item", 
								"form_id":ID,
								"required": "required",
								"name":"Дата регистрации ИП", 
								"placeholder":"Дата регистрации ИП"
							},
							{
								"type":"number", 
								"required": "required",
								"placeholder":"Ежемесячная выручка",
								"group":"is--abs",
								"tooltip":"Данные, предоставленные в налоговую службу за последний отчетный период",
								"tooltip_placement":"top",
								"ruble":"is--ruble"
							},
						]} %}
						<hr class="{{prefix}}line  {{mod}}  is--lg  is--full">
						{% include "elem-tpl.twig" with {
							view: "select", 
							prefix:prefix, 
							mod:mod, 
							required:"required",
							color:color,
							form_id:ID,
							id:"brand",  
							attr:"data-select-default",
							group:"", 
							list: [
								{"name": "Марка ТС", "status":"disabled selected"},
								{"name": "Марка 1"},
							]
						} %}
						{% include "elem-tpl.twig" with {
							view: "select", 
							prefix:prefix, 
							mod:mod, 
							required:"required",
							color:color,
							form_id:ID,
							id:"model",  
							attr:"data-select-default",
							group:"", 
							list: [
								{"name": "Модель", "status":"disabled selected"},
								{"name": "Модель 1"},
							]
						} %}
						{% include "elem-tpl.twig" with {view: "input", prefix:prefix, mod:mod, color:color, list: [
							{
								"type":"cost", 
								"required": "required",
								"placeholder":"Стоимость",
								"group":"  ",
								"ruble":"is--ruble"
							},
						]} %}
						{% include "elem-tpl.twig" with {
							view: "select", 
							prefix:prefix, 
							mod:mod, 
							required:"required",
							color:color,
							form_id:ID,
							id:"supplier",  
							attr:"data-select-default",
							group:"", 
							list: [
								{"name": "Поставщик", "status":"disabled selected"},
								{"name": "Поставщик 1"},
							]
						} %}
						<p data-grid-btn class="is--mt">
							{% include "../button/btn.twig" with {
								view:"btn",
								prefix:"btn__", 
								type:'button', 
								data_attr:'data-step-next',
								name:"Продолжить" 
							} %}
						</p>
					</div>
				</div>
			</div>
			<div class="{{prefix}}step-pane  {{mod}}" id="{{ID}}-step2">
				<div class="{{prefix}}wrap  {{mod}}  is--full">		
					<div class="{{prefix}}row  grid__row  is--step  {{mod}}">
						<h2 class="page-header__heading  is--page-calc-form-sm  fw--100  is--full  is--mb">Заполните необходимые поля</h2>
						{% include "elem-tpl.twig" with {
							view: "select", 
							prefix:prefix, 
							mod:mod, 
							required:"required",
							color:color, 
							form_id:ID,
							id:"products", 
							attr:"data-select-default",
							group:"", 
							list: [
								{"name": "Лизинговый продукт", "status":"disabled selected"},
								{"name": "продукт 1"},
							]
						} %}
						{% include "elem-tpl.twig" with {view: "input", prefix:prefix, mod:mod, color:color, list: [
							{
								"type":"number", 
								"required": "required",
								"placeholder":"Минимальный аванс",
								"group":"",
							}
						]} %}
						{% include "elem-tpl.twig" with {
							view: "select", 
							prefix:prefix, 
							mod:mod, 
							required:"required",
							color:color, 
							form_id:ID,
							id:"liz-date", 
							attr:"data-select-default",
							group:"", 
							list: [
								{"name": "Максимальный срок лизинга", "status":"disabled selected"},
								{"name": "36 месяцев"},
								{"name": "24 месяца"},
								{"name": "12 месяцев"},
							]
						} %}

						<hr class="{{prefix}}line  {{mod}}  is--lg  is--full">

						<h2 class="page-header__heading  is--page-calc-form-sm  fw--100  is--full">Выберите график платежей</h2>

						<div class="is--full">
							{% include "../table/tpl.twig" with {
							 	view: "calc_form", 
							 	mod:"is--calc-form", 
							 	caption:"
							 		<p>Выкупная стоимость: 1 500,00 ₽</p>
							 		<p>Комиссия за оформление: 0,00 ₽</p>
							 		<p>Оплата КАСКО и ОСАГО обязательна на весь срок лизинга.</p>", 
								list: [
									{
										"form_id": ID, 
										"ID": "item1", 
										"name": "radio", 
										"label": "Платежи с дегрессией", 
										"payment": "385 693,00", 
										"rise": "5,86%", 
										"cost": "17 634 948,00", 
									},
									{
										"form_id": ID, 
										"ID": "item2", 
										"name": "radio", 
										"label": "Равные платежи", 
										"payment": "447 227,00", 
										"rise": "10,78%", 
										"cost": "19 850 172,00", 
									},
									{
										"form_id": ID, 
										"ID": "item3",
										"name": "radio",  
										"label": "Плавно убывающие платежи", 
										"payment": "403 329,97", 
										"rise": "7,27%", 
										"cost": "18 269 879,00", 
									},
									{
										"form_id": ID, 
										"ID": "item4", 
										"name": "radio", 
										"label": "Резко убывающие платежи", 
										"payment": "420 930,42", 
										"rise": "8,67%", 
										"cost": "18 903 495,00", 
									},
								]
							} %}
						</div>
						
						<p data-grid-btn class="is--mt">
							{% include "../button/btn.twig" with {
								view:"btn",
								prefix:"btn__", 
								type:'button', 
								data_attr:'data-step-next',
								error: "Выберите график платежей, чтобы продолжить",
								name:"Продолжить" 
							} %}	
						</p>
					</div>
				</div>
			</div>
			<div class="{{prefix}}step-pane  {{mod}}" id="{{ID}}-step3">
				<div class="{{prefix}}wrap  {{mod}}">		
					<div class="{{prefix}}row  grid__row  is--docs  {{mod}}">
						<h2 class="page-header__heading  is--page-calc-form-sm  fw--100">Необходимые документы</h2>
						{% include "elem-tpl.twig" with {view: "file_group", prefix:prefix, mod:mod, color:color, list: [
							{
								"type":"file", 
								"required": "required",
								"attr": "multiple",
								"label":"Копии всех страниц паспорта",
								"btn":"Загрузить",
							},
							{
								"type":"file", 
								"required": "required",
								"attr": "multiple",
								"label":"Копии налоговых деклараций с отметкой налогового органа",
								"btn":"Загрузить",
							},
							{
								"group":"is--mt", 
								"type":"file", 
								"required": "required",
								"attr": "multiple",
								"label":"Оригинал справки из банка об оборотах по счету за последние 12 месяцев",
								"btn":"Загрузить",
							}
						]} %}

						<p data-grid-btn>
							{% include "../button/btn.twig" with {
								view:"btn",
								prefix:"btn__", 
								type:'submit', 
								arrow: "true",
								error: "Загрузите все документы, чтобы продолжить",
								icon: "arrow-next",
								group:content_mod, 
								onsubmit:'return false', 
								modal:'#modal-calc-calculation',  
								mod:"is--success  is--arrow-next", 
								name:"Оставить заявку" 
							} %}
						</p>
					</div>
				</div>
			</div>
		</div>
	</form>
{% endif %}

{% if view == "profile_info" %}
	<form action="#" class="{{prefix}}panel  {{mod}}">
		{% include "elem-tpl.twig" with {view: "input", prefix:prefix, mod:mod, color:color, list: [
			{
				"type":"text", 
				"required":"", 
				"label":"Контактное лицо", 
				"placeholder":"Контактное лицо",
				"group":"is--inline"
			},
			{
				"type":"tel", 
				"required":"", 
				"label":"Телефон", 
				"placeholder":"Телефон",
				"group":"is--inline"
			},
			{
				"type":"email", 
				"required":"", 
				"label":"E-mail", 
				"placeholder":"E-mail",
				"group":"is--inline"
			}
		]} %}
		<hr class="{{prefix}}line  {{mod}}">
		{% include "elem-tpl.twig" with {
			view: "select", 
			prefix:prefix, 
			mod:mod, 
			required:"",
			label:"Ближайший город", 
			color:color, 
			attr:"data-select-default",
			group:"is--inline", 
			list: [
				{"name": "Ближайший город", "status":"disabled selected"},
				{"name": "Абакан"},
				{"name": "Архангельск"},
				{"name": "Астрахань"},
				{"name": "Барнаул"},
				{"name": "Белгород"},
				{"name": "Благовещенск"},
				{"name": "Брянск"}
			]
		} %}
		{% include "elem-tpl.twig" with {view: "input", prefix:prefix, mod:mod, color:color, list: [
			{
				"view":"date", 
				"type":"text", 
				"required":"", 
				"label":"Дата регистрации ИП", 
				"placeholder":"Дата регистрации ИП",
				"group":"is--inline"
			},
			{
				"type":"number", 
				"required":"", 
				"label":"Ежемесячная выручка", 
				"placeholder":"Ежемесячная выручка",
				"group":"is--inline",
				"tooltip":"Данные, предоставленные в налоговую службу за последний отчетный период",
				"tooltip_placement":"top",
				"ruble":"is--ruble"
			},
			{
				"type":"text", 
				"required":"", 
				"label":"Название организации", 
				"placeholder":"Название организации",
				"group":"is--inline"
			}
		]} %}

		{% include "elem-tpl.twig" with {
			view: "select", 
			prefix:prefix, 
			mod:mod, 
			required:"",
			label:"Правовая форма", 
			color:color, 
			attr:"data-select-default",
			group:"is--inline", 
			list: [
				{"name": "Правовая форма", "status":"disabled selected"},
				{"name": "Физ. лицо"},
				{"name": "Юр. лицо"},
				{"name": "ИП"}
			]
		} %}
		<div data-grid-submit>
			{% include "../button/btn.twig" with {
				view:"btn",
				prefix:"btn__", 
				type:"submit", 
				mod:"is--success-white  is--size-md", 
				link:"#", 
				name:"Сохранить изменения" 
			} %}
		</div>
	</form>
{% endif %}


{% if view=="call" %}
	<form action="#" class="{{prefix}}panel  {{mod}}  {{group}}  is--sm"  {{form_data}}>
		<div class="{{prefix}}wrap  {{mod}}  {{group}}">
			{% include "../../common/page-header/tpl.twig" with {
				heading_view:heading_view, 
				prefix:"page-header__", 
				mod:heading_mod, 
				group:heading_group, 
				level:heading_level, 
				heading:heading} %}			
			<div class="{{prefix}}row  grid__row  {{mod}}">				
				{% include "elem-tpl.twig" with {view: "input", prefix:prefix, mod:mod, color:color, list: [
					{
						"type":"text", 
						"id":"fio", 
						"form_id":ID,
						"required": "required", 
						"name":"ФИО", 
						"placeholder":"ФИО"
					},
					{
						"type":"tel", 
						"id":"tel",
						"form_id":ID, 
						"required": "required", 
						"name":"Телефон", 
						"placeholder":"Ваш телефон"
					},
					{
						"view": "time",
						"type":"text", 
						"id":"time",
						"form_id":ID, 
						"required": "required", 
						"name":"Время звонка", 
						"placeholder":"Время звонка"
					}
				]} %}
				<button type="submit" data-form-submit class="btn__item  is--arrow  is--md  is--primary">Отправить</button>	
			</div>
		</div>
		<div class="{{prefix}}result  {{mod}}  {{group}}">
			{% include "../../common/page-header/tpl.twig" with {
				heading_view:heading_view, 
				prefix:"page-header__", 
				mod:heading_r_mod, 
				group:heading_r_group, 
				level:heading_r_level, 
				heading:heading_r} %}
			{% include "../../common/page-header/tpl.twig" with {
				heading_view:heading_view, 
				prefix:"page-header__", 
				mod:heading_r_sm_mod, 
				group:heading_r_sm_group, 
				level:heading_r_sm_level, 
				heading:heading_r_sm} 
			%}
		</div>
	</form>
{% endif %}