{% if view == "notice_list" %}
	{% for value in list %}
	<label class="{{prefix}}item  {{mod}}">
		<input type="checkbox" class="{{prefix}}input  {{mod}}">
		<div class="{{prefix}}wrap  {{mod}}  {{value.status}}">
			<div class="{{prefix}}checkbox  {{mod}}"></div>
			<div class="{{prefix}}icon  {{mod}}"></div>
			<div>
				<p class="{{prefix}}heading  {{mod}}">{{value.name}}</p>
				<time class="{{prefix}}date  {{mod}}" datetime="{{vaue.date_iso}}">{{value.date}}</time>
			</div>
			<p class="{{prefix}}btn  {{mod}}">
				{% include "../svg-sprite/svg.twig" with {icon:"arrow-next"} %}
			</p>
		</div> 
	</label> 
	{% endfor %}
{% endif %}

{% if view == "profile_card" %}
	<div class="{{prefix}}item  {{mod}}">
		<p class="{{prefix}}preview  {{mod}}">
			<img src="{{preview}}" class="img-responsive" alt="">
		</p>
		<label class="{{prefix}}btn  {{mod}}">
			Изменить фото
			<input type="file">
		</label>
		<hr class="{{prefix}}line  {{mod}}">

		<p class="{{prefix}}heading  {{mod}}">
			{{heading}}
		</p>
		<p class="{{prefix}}value  is--form  {{mod}}">
			{{form}}
			<a href="#" class="{{prefix}}btn  {{mod}}-xs">{% include "../svg-sprite/svg.twig" with {icon:"edit"} %}</a>
		</p>
		{% if comp %}
		<p class="{{prefix}}value  {{mod}}">
			{{comp}}
		</p>
		{% endif %}
		<p class="{{prefix}}link  {{mod}}">
			<a href="#">Изменить правовую форму</a>
		</p>
	</div> 
{% endif %}

{% if view == "manager_card" %}
	<div class="{{prefix}}item  {{mod}}">
		<p class="{{prefix}}label  {{mod}}">Ваш менеджер</p>
		<p class="{{prefix}}preview  {{mod}}">
			<img src="{{preview}}" class="img-responsive" alt="">
		</p>
		<p class="{{prefix}}heading  {{mod}}">
			{{heading}}
		</p>
		<p class="{{prefix}}value  {{mod}}">
			{{post}}
		</p>
		<p class="{{prefix}}tel  {{mod}}">
			<a href="tel:{{phone_tel}}">{{phone}}</a>
		</p>
		<p class="{{prefix}}email  {{mod}}">
			<a href="mailto:{{email}}">{{email}}</a>
		</p>
		{% if tech %}
			<hr class="{{prefix}}line  {{mod}}">
			<p class="{{prefix}}icon  {{mod}}">
				{% include "../svg-sprite/svg.twig" with {icon:tech_icon} %}
			</p>
			<p class="{{prefix}}value  {{mod}}  is--tech">
				{{tech}}
			</p>
			<p class="{{prefix}}email  {{mod}}  is--tech">
				<a href="tel:{{tech_phone_tel}}">{{tech_phone}}</a>
			</p>

		{% endif %}
	</div> 
{% endif %}

{% if view == "calc_card" %}
	{% for value in list %}
	<div class="{{prefix}}group  {{mod}}">
		<div class="{{prefix}}item  {{mod}}">
			<a href="{{value.link}}" class="{{prefix}}btn  {{mod}}  {{value.icon_mod}}">
				{% include "../svg-sprite/svg.twig" with {icon:value.icon} %}
			</a>
			<p class="{{prefix}}heading  {{mod}}">{{value.name}}</p>
			<div class="{{prefix}}value  {{mod}}">
				<p class="{{prefix}}label  {{mod}}">Объект лизинга</p>
				<p>{{value.object}}</p>
			</div>
			<div class="{{prefix}}value  {{mod}}">
				<p class="{{prefix}}label  {{mod}}">Ежемесячный платеж</p>
				<p>{{value.cost}}</p>
			</div>
			<div class="{{prefix}}value  {{mod}}">
				<p class="{{prefix}}label  {{mod}}">Сумма по ДЛ</p>
				<p>{{value.sum}}</p>
			</div>
			<div class="{{prefix}}value  {{mod}}">
				<p class="{{prefix}}label  {{mod}}  is--status  {{value.status}}">	
					<span>Статус расчета</span>
					<span class="{{prefix}}status  {{mod}}  {{value.status}}" {% if value.tooltip !='' %}data-container="body" data-toggle="tooltip" data-placement="top" title="{{value.tooltip}}"{% endif %}></span>
				</p>
			</div>
		</div> 
	</div> 
	{% endfor %}
{% endif %}

{% if view == "calc_list" %}
	{% for value in list %}
	<div class="{{prefix}}item  {{mod}}">
		<a href="{{value.link}}" class="{{prefix}}btn  {{mod}}  {{value.icon_mod}}">
			{% include "../svg-sprite/svg.twig" with {icon:value.icon} %}
		</a>
		<p class="{{prefix}}heading  {{mod}}">{{value.name}}</p>
		<p class="{{prefix}}value  {{mod}}">{{value.object}}</p>
		<p class="{{prefix}}status  {{mod}}  {{value.status_mod}}">	
			Статус: {{value.status}}
		</p>
	</div> 
	{% endfor %}
{% endif %}

{% if view == "add_card" %}
	<div class="{{prefix}}group  {{mod}}">
		<a href="{{link}}" class="{{prefix}}item  {{mod}}">
			<p class="{{prefix}}preview  {{mod}}">
				{% include "../svg-sprite/svg.twig" with {icon:"add"} %}
			</p>
		</a> 
	</div>
{% endif %}

{% if view == "calc_null" %}
	{% for value in list %}
	<div class="{{prefix}}group  {{mod}}">
		<p class="{{prefix}}item  {{mod}}"></p> 
	</div>
	{% endfor %}
{% endif %}