<div class="{{prefix}}panel">
	<p class="{{prefix}}heading">{{heading}}</p>
	<div class="{{prefix}}bar">
		<div class="{{prefix}}elem  is--success" style="width: calc( (( 1 * {{success}} ) / {{all}}) * 100% ) ">{{success}} ₽</div>
		<div class="{{prefix}}elem  is--danger" style="width: calc( (( 1 * {{danger}} ) / {{all}}) * 100% ) "></div>
		<div class="{{prefix}}elem  is--modulo" data-container=".progress__panel"  data-html="true" data-toggle="tooltip" data-placement="top" title='Осталось внести 25 платежей <p class="hidden--md">{{modulo}} ₽</p>'>{{modulo}} ₽</div>
	</div>
	<p class="{{prefix}}cost">Общая сумма: 2 002 684,00 ₽</p>
</div>