<div class="{{prefix}}block modals  fade  {{mod}}" id="{{ID}}" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="{{prefix}}dialog  {{mod}}">
		<div class="{{prefix}}body  {{mod}}" >
			<button type="button" class="{{prefix}}btn-close  modal-close" data-dismiss="modal" aria-hidden="true">
				{% include "../svg-sprite/svg.twig" with {icon:"modal-close"} %}
			</button>
			<div class="{{prefix}}content  {{mod}}">
				{% if heading %}
				<h3 class="{{prefix}}heading  {{heading_mod}}  {{content_mod}}">{{heading}}</h3>
				{% endif %}
				{% if note %}
				<div class="{{prefix}}note  {{content_mod}}">{{note}}</div>
				{% endif %}
				{% if preview %}
				<picture class="{{prefix}}preview  {{content_mod}}"><img src="{{preview}}" class="img-responsive" alt=""></picture>
				{% endif %}
			</div> 
		</div>
	</div>
</div>