<div class="{{prefix}}block modals  fade  {{mod}}" id="{{ID}}" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="{{prefix}}dialog  {{mod}}">
		<div class="{{prefix}}body  {{mod}}" >
			<button type="button" class="{{prefix}}btn-close  modal-close" data-dismiss="modal" aria-hidden="true">
				{% include "../svg-sprite/svg.twig" with {icon:"modal-close"} %}
			</button>
			<div class="{{prefix}}content  {{mod}}">
				{% if ID == "modal-call" %}	
					{% include "../form/form.twig" with {
						view: 			"call", 
						prefix:			"form__", 
						open:			"true", 
						group:			"  ", 
						mod:			"is--call", 
						color:			"", 
						ID: 			"fm_call",  

						heading:		"Заказать обратный звонок", 
						heading_level:	"h3", 
						heading_group:	"", 
						heading_mod:	"is--h2  fw--700  is--form-call",
						heading_sm:		"Оставьте заявку, и наш консультант перезвонит!", 
						heading_sm_level:"p", 
						heading_sm_mod:	"is--h6  fw--100  is--form-call-xs",
						heading_r:		"Спасибо!<br> Заявка отправлена", 
						heading_r_level:"h3", 
						heading_r_mod:	"is--h2 fw--700  is--form-call-result",
						heading_r_sm:	"Вам перезвонят", 
						heading_r_sm_level:	"p", 
						heading_r_sm_mod:	"fw--100     is--form-call-result-note"
					} %}
				{% endif %}	
				{% if ID == "modal-calc-payment" %}
					<div class="{{prefix}}panel  {{mod}}">
						<h3 class="{{prefix}}heading  {{heading2_mod}}  {{content_mod}}">{{heading2}}</h3>
						<table class="{{prefix}}table  {{mod}}-lg">
							<tr>
								<th class="is--left">Средний ежемесячный платеж</th>
								<td class="is--right">385 693,00&nbsp;₽</td>
							</tr>
							<tr>
								<th class="is--left">Удорожание</th>
								<td class="is--right">5,86%</td>
							</tr>
							<tr>
								<th class="is--left">Итого</th>
								<td class="is--right">17 634 948,00&nbsp;₽</td>
							</tr>
						</table>
					</div>
				{% endif %}
				{% if heading %}
				<h3 class="{{prefix}}heading  {{heading_mod}}  {{content_mod}}">{{heading}}</h3>
				{% endif %}
				{% if note %}
				<div class="{{prefix}}note  {{content_mod}}">{{note}}</div>
				{% endif %}
				{% if preview %}
				<picture class="{{prefix}}preview  {{content_mod}}"><img src="{{preview}}" class="img-responsive" alt=""></picture>
				{% endif %}
				{% if ID == "modal-calc-payment" %}
					<table class="{{prefix}}table  {{mod}}">
						<thead>
							<tr>
								<td class="is--left">Период</td>
								<td class="is--left">Вид платежа</td>
								<td class="is--right">Сумма к оплате с НДС</td>
							</tr>
						</thead>
						<tbody>						
							{% for value in list %}	
							<tr> 
								<td class="is--left">{{value.count}}</td>
								<td>{{value.payment}}</td>
								<td class="is--right">{{value.cost}}</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				{% endif %}
			</div> 
		</div>
	</div>
</div>