{% if view == "modal" %}
<button type="button" class="{{prefix}}item  {{mod}}" data-toggle="modal" data-target="#{{target}}">{{name}}</button>
{% endif %}

{% if view == "btn" %}
<button type="{{type}}" class="{{prefix}}item  {{mod}}">
	{{name}}
</button>
{% endif %}

{% if view == "link" %}
<a href="{{link}}" class="{{prefix}}item  {{mod}}  {{group}}">
	<span>{{name}}</span>
	{% if icon %}
		<span class="{{prefix}}icon  {{mod}}  {{group}}">{% include "../svg-sprite/svg.twig" with {icon:icon} %}</span>
	{% endif %}
</a>  
{% endif %}