{% if view == "deal_list" %}
	<table class="table  {{mod}}">
		<thead>
			<tr>
				<th>№ КП</th>
				<th>№ ДЛ</th>
				<th>Статус</th>
				<th>Дата КП</th>
				<th>Марка, модель</th>
				<th>Общая сумма</th>
				<th>Выплачено</th>
			</tr>
		</thead> 
		<tbody> 
			{% for value in list %}	
			<tr onclick="window.location.href='{{value.link}}'; return false"> 
				<td data-grid-id>{{value.id}}</td> 
				<td class="is--hidden">{{value.num}}</td> 
				<td class="is--hidden">{{value.status}}</td> 
				<td data-grid-date>{{value.date}}</td> 
				<td class="is--hidden">{{value.model}}</td> 
				<td data-grid-cost>{{value.cost}}</td> 
				<td class="is--hidden">{{value.paid}}</td> 
			</tr>
			{% endfor %}
		</tbody>
	</table>
{% endif %}

{% if view == "deal_card" %}
	<table class="table  {{mod}}">
		<tbody> 
			{% for value in list %}	
			<tr {% if value.link %}onclick="window.location.href='{{value.link}}'; return false"{% endif %}> 
				<th>{{value.name}}</th> 
				<td>{{value.val}}</td> 
			</tr>
			{% endfor %}
		</tbody>
	</table>
{% endif %}

{% if view == "deal_card_docs" %}
	<table class="table  {{mod}}">
		<thead>
			<tr>
				<th>Вид</th>
				<th>Тип&nbsp;документа</th>
				<th>Дата&nbsp;загрузки</th>
				<th></th>
			</tr>
		</thead>
		<tbody> 
			{% for value in list %}	
			<tr> 
				<td>
					<label class="form__checkbox  is--table">
						<input type="checkbox" class="form__checkbox-input">
						<span class="form__checkbox-icon  is--table"></span>
						<span class="form__checkbox-name  is--table">{{value.type}}</span>						
					</label>
				</td> 
				<td>{{value.name}}</td> 
				<td>{{value.date}}</td> 
				<td><a href="{{value.link}}" class="is--download">{% include "../svg-sprite/svg.twig" with {icon:"download"} %}</a></td> 
			</tr>
			{% endfor %}
		</tbody>
	</table>
{% endif %}

{% if view == "deal_card_payment" %}
	<table class="table  {{mod}}">
		<thead>
			<tr>
				<th>Платеж</th>
				<th>Сумма</th>
				<th>Оплатить до</th>
			</tr>
		</thead>
		<tbody> 
			{% for value in list %}	
			<tr> 
				<td>{{value.name}}</td> 
				<td>{{value.cost}}</td> 
				<td>{{value.date}}</td> 
			</tr>
			{% endfor %}
		</tbody>
	</table>
{% endif %}

{% if view == "deal_card_schedule" %}
	<table class="table  {{mod}}">
		<thead>
			<tr>
				<th>Дата</th>
				<th>Сумма</th>
				<th>НДС</th>
				<th class="is--right">Назначение</th>
			</tr>
		</thead>
		<tbody> 
			{% for value in list %}	
			<tr> 
				<td>{{value.date}}</td> 
				<td>{{value.cost}}</td> 
				<td>{{value.nds}}</td> 
				<td class="is--right">{{value.name}}</td> 
			</tr>
			{% endfor %}
		</tbody>
	</table>
{% endif %}

{% if view == "deal_card_history" %}
	<table class="table  {{mod}}">
		<thead>
			<tr>
				<th>Дата факт</th>
				<th>Дата факт</th>
				<th>Сумма</th>
				<th>Опл. сумма</th>
				<th>Пени</th>
				<th>Опл. пени</th>
				<th>Способ оплаты</th>
				<th class="is--right">Назначение</th>
			</tr>
		</thead>
		<tbody> 
			{% for value in list %}	
			<tr> 
				<td>{{value.cel1}}</td> 
				<td>{{value.cel2}}</td> 
				<td>{{value.cel3}}</td> 
				<td>{{value.cel4}}</td> 
				<td>{{value.cel5}}</td> 
				<td>{{value.cel6}}</td> 
				<td>{{value.cel7}}</td> 
				<td class="is--right">{{value.cel8}}</td> 
			</tr>
			{% endfor %}
		</tbody>
	</table>
{% endif %}

{% if view == "calc_form" %}
	<table class="form__table  {{mod}}">
		<caption>{{caption}}</caption>
		<thead>
			<tr>
				<th class="is--left">Вид графика</th>
				<th></th>
				<th class="is--right-xs">Средний ежемес. платеж</th>
				<th class="is--hidden">Удорожание</th>
				<th class="is--right  is--hidden">Итого</th>
			</tr>
		</thead> 
		<tbody> 
			{% for value in list %}	
			<tr> 
				<td class="is--left">
					<label class="form__radio">
						<input class="form__radio-input" type="radio" id="{{value.form_id}}[{{value.ID}}]" name="{{value.name}}">
						<span class="form__radio-box"></span>
						{{value.label}}
					</label>
				</td> 
				<td>
					<a href="#" data-toggle="modal" data-target="#modal-calc-payment" class="question__info">
				{% include "../svg-sprite/svg.twig" with {icon:"icon-info"} %}</a>
				</td> 
				<td class="is--right-xs">{{value.payment}}&nbsp;₽</td> 
				<td class="is--hidden">{{value.rise}}</td> 
				<td class="is--right  is--hidden"><b>{{value.cost}}&nbsp;₽</b></td> 
			</tr>
			{% endfor %}
		</tbody>
	</table>
{% endif %}
