<footer class="{{footer_prefix}}block">	
	<div class="{{footer_prefix}}container container">
		<div class="{{footer_prefix}}row">
			<div class="{{footer_prefix}}cols  is--tel">
				<a href="tel:{{contacts.phone_tel}}" class="{{footer_prefix}}tel">{{contacts.phone}}</a>
			</div>
			<div class="{{footer_prefix}}cols  is--copyright">
				<p class="{{footer_prefix}}city">Москва</p>
				<p class="{{footer_prefix}}logo"><img src="{{path.img}}/default/logo-footer.jpg" class="img-responsive" alt=""></p>
				<div>
					<p class="{{footer_prefix}}copyright">© Элемент Лизинг, 2010-2020</p>
					<p class="{{footer_prefix}}copyright"><a href="http://playhard.agency/" target="_blank">Разработка сайта – Playhard</a></p>
				</div>
			</div>
			<div class="{{footer_prefix}}cols  is--nav-default">
				<ul class="{{footer_prefix}}nav">
					<li><a href="{{page.calculation}}">Мои расчеты</a></li>
					<li><a href="{{page.deal}}">Мои сделки</a></li>
					<li><a href="#">Акции</a></li>
					<li><a href="{{page.faq}}">Вопросы и ответы</a></li>
				</ul>
			</div>
			<div class="{{footer_prefix}}cols">
				<ul class="{{footer_prefix}}nav">
					<li><a href="#">Техническая поддержка</a></li>
					<li><a href="#">Карта сайта</a></li>
				</ul>
			</div>
		</div>	
	</div>
</footer>